name: issue driven
on: 
  issue_comment:

jobs:
  issue_commented:
    # このジョブは Issue comment に対してのみ実行されます
    name: Issue comment
    if: ${{ !github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Comment on issue #${{ github.event.issue.number }}"
